HotelBooking/src/booking/HotelBookingPortType.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.7-b01  svn-revision#${svn.Last.Changed.Rev}. -->
<definitions targetNamespace="http://booking/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://booking/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://booking/" schemaLocation="HotelBookingPortType_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="cancelBooking">
    <part name="parameters" element="tns:cancelBooking"/>
  </message>
  <message name="cancelBookingResponse">
    <part name="parameters" element="tns:cancelBookingResponse"/>
  </message>
  <message name="validatePayment">
    <part name="parameters" element="tns:validatePayment"/>
  </message>
  <message name="validatePaymentResponse">
    <part name="parameters" element="tns:validatePaymentResponse"/>
  </message>
  <message name="bookRoom">
    <part name="parameters" element="tns:bookRoom"/>
  </message>
  <message name="bookRoomResponse">
    <part name="parameters" element="tns:bookRoomResponse"/>
  </message>
  <portType name="HotelBooking">
    <operation name="cancelBooking">
      <input ns1:Action="http://booking/HotelBooking/cancelBookingRequest" message="tns:cancelBooking" xmlns:ns1="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns2:Action="http://booking/HotelBooking/cancelBookingResponse" message="tns:cancelBookingResponse" xmlns:ns2="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="validatePayment">
      <input ns3:Action="http://booking/HotelBooking/validatePaymentRequest" message="tns:validatePayment" xmlns:ns3="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns4:Action="http://booking/HotelBooking/validatePaymentResponse" message="tns:validatePaymentResponse" xmlns:ns4="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="bookRoom">
      <input ns5:Action="http://booking/HotelBooking/bookRoomRequest" message="tns:bookRoom" xmlns:ns5="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns6:Action="http://booking/HotelBooking/bookRoomResponse" message="tns:bookRoomResponse" xmlns:ns6="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
  </portType>
</definitions>

